<section class="roadmap">
   
    <div class="container roadmap__con">
        <div class="roadmap__background">
            <picture>
                <source media="(min-width:992px)" srcSet="/img/index/roadmap/back.png"/>
                <source media="(min-width:769px)" srcSet="/img/index/roadmap/back-mid.png"/>
                <source media="(max-width:768px)" srcSet="/img/index/roadmap/back-mobile.png"/>
                <img src="/img/index/roadmap/back.png" alt="back">
            </picture>
        </div>
        <h2 class="title roadmap__title">ROADMAP</h2>
        <div class="roadmap__sub">How we are building the future of activism</div>
        <div class="roadmap__container">
            <div class="roadmap__wrapper">
                <div class="roadmap__item">
                    <h3 class="roadmap__subtitle">Q1 2023 / WI$TA INBOUND
                    </h3>
                    <span>- Partners onboarding</span>
                    <span>- Artistic & graphic dev of arena and avatars</span>
                    <span>- Development of the Wistaverse app and website</span>
                    <span>- Final design of the Wistaverse</span>
                    <span>- Meeting the community</span>
                </div>
                <div class="roadmap__item">
                    <h3 class="roadmap__subtitle">Q2 2023 / BETA LAUNCH</h3>
                    <span>- WI$TA token launch</span>
                    <span>- Wistaverse beta launch and first protests</span>
                    <span>- Marketing campaigns</span>
                    <span>- WI$TA token listing on CEX</span>
                </div>
                <div class="roadmap__item">
                    <h3 class="roadmap__subtitle">Q3 2023 / INTO THE WISTAVERSE</h3>
                   
                    <span> - Deployment of the Wistaverse</span>
                    <span>- Use WI$TA for all of its utility within the ecosystem</span>
                    <span>- DeFi feature launch</span>
                    <span>- Multiple global events</span>
                </div>
                <div class="roadmap__item">
                    <h3 class="roadmap__subtitle">Q4 2023 / WISTAVERSE FOR ALL</h3>
                    <span>-V.R. feature implementation</span>
                    <span>- Development of Wistaverse Standalone Metaverse application</span>
                    <span>- Release of all arenas</span>
                    <span>- International community growth</span>
                    <span>- Institutional recognition</span>
                </div>
            </div>
        </div>
    </div>

</section>