<section class="community">
    <div class="community__background">
        
        <img src="/img/index/community/ellipse.png" alt="ellipse">
        <img src="/img/index/community/orange.png" alt="orange">
        <img src="/img/index/community/1.png" alt="1">
        <img src="/img/index/community/ring.png" alt="ring">
        <img src="/img/index/community/purple.png" alt="purple">
        <img src="/img/index/community/2.png" alt="2">
        <img src="/img/index/community/pink.png" alt="pink">
        <img src="/img/index/community/down.png" alt="down">
        <img src="/img/index/community/big.png" alt="big">
        <img src="/img/index/community/up.png" alt="up">
    </div>
    <div class="container">
        <div class="community__wrapper">
            <h2 class="title community__title">COMMUNITY DRIVEN</h2>
            <div class="community__description">
                WI$TA is a real community token.It helps raise decentralized funding during  protests, in WI$TA, from the community, for the community, to fuel their action and help have a real impact.
            </div>
        </div>
    </div>
</section>