<section class="distribute">
  <div class="container">
    <h2 class="distribute__title title">WI$TA TOKEN</h2>
    <div class="distribute__subtitle">DISTRIBUTION</div>

    <div class="distribute__inner">
      <ul class="distribute__list">
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>2</span>%</div>
          <div class="distribute__text">airdrop</div>
        </li>

        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>4</span>%</div>
          <div class="distribute__text">advisors and partners</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>7</span>%</div>
          <div class="distribute__text">contributors</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>6</span>%</div>
          <div class="distribute__text">rewards and community incentives</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>9</span>%</div>
          <div class="distribute__text">treasury and future cex</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>10</span>%</div>
          <div class="distribute__text">team</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>10</span>%</div>
          <div class="distribute__text">marketing</div>
        </li>

        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>12</span>%</div>
          <div class="distribute__text">liquidity dex and cex</div>
        </li>
  
        <li class="distribute__item">
          <div class="distribute__stroke"></div>
          <div class="distribute__percent"><span>40</span>%</div>
          <div class="distribute__text">public sale</div>
        </li>
      </ul>

      <div class="distribute__box">
        <div class="distribute__total">
          <span>42</span>
          <span>000</span>
          <span>000</span>
        </div>
        <div class="distribute__total-text">total supply</div>
        <img src="/img/distribute/graffity.png" alt="">
      </div>

      <div class="distribute__logo">
        <img src="/img/distribute/logo.png" alt="">
      </div>

    </div>

    <div class="distribute__bottom">
      <span>vesting - 50.25% - 3 months cliff and i5 months linear</span>
      <span>initial supply - 49,75%</span>
    </div>
    
  </div>
</section>