<section class="upcoming">
  <div class="container">
    <div class="upcoming__inner">
      <div class="upcoming__top">
        <h2 class="upcoming__title title">Upcoming Protests</h2>
        <p class="upcoming__text">1. Rally for abortion rights
          Organized by Amnesty International </p>
      </div>
      <picture>
        <source class="upcoming__img" media="(min-width: 577px)" srcset="/img/upcoming/big-img.png">
        <source class="upcoming__img" media="(max-width: 576px)" srcset="/img/upcoming/big-img-mob.png">
        <img class="upcoming__img" src="/img/upcoming/big-img.png" alt="" />
      </picture>
      <div class="upcoming__descr"> FROM MAY 11</div>
      <button type="button"  class="upcoming__btn"><a target="_blank" href="https://www.sandbox.game/en/events/wistaverse/?utm_source=thesandboxtwitter&utm_campaign=wistaverse&utm_medium=_5651876&gsid=1edf036fa322629a8cbceabb8406a45c&gsc=1">Participate</a></button>
    </div>
  </div>
</section>
