<section class="wista">
    <div class="wista__under">
        <img src="/img/index/wista/down.svg" alt="up">
    </div>
    <div class="title wista__title">Where to get WI$TA ?</div>
    <div class="title wista__title wista__title--red">Where to get WI$TA ?</div>
    <div class="wista__wrapper">
        <a href="https://www.dextools.io/app/en/polygon/pair-explorer/0x1ae24aba4046b45a887a92791f5bf71b83f985c5" target="_blank"><img src="/img/index/wista/dexTools.png" alt="dexTools"/></a>
        <a href="https://www.gate.io/trade/WISTA_USDT" target="_blank"><img src="/img/index/wista/gate.png" alt="gate"/></a>
        <a href="https://www.mexc.com/exchange/WISTA_USDT?_from=search" target="_blank"><img src="/img/index/wista/mexc.png"/></a>
    </div>
    
    <!-- <div class="title wista__title">Where to get WI$TA ?</div>
    <div class="title wista__subtitle">coming soon</div> -->
    <div class="wista__down">
        <img src="/img/index/wista/up.svg" alt="down">
    </div>
</section>