<section class="promo">
  <div class="container">
      <div class="promo__inner">
          <img class="promo__big-img" src="/img/promo/graffity.png" alt="graffity">
          <div class="promo__title">
              <div>PROTEST</div>
              <div><span>IN</span><span>&nbsp;</span><span>the</span></div>
              <div>METAVERSE</div>
              <video class="promo__fire transparent-video" muted playsinline autoplay loop data-src="/img/video/fire.webm"></video>
              <!-- <img class="promo__fire visible-mobile" src="/img/promo/fire.png">
                
            <video class="promo__fire transparent-video" preload="metadata" muted="muted" autoplay playsinline loop>
                <source src="/img/video/fire.webm" type='video/webm'>
                <source src="/img/video/fire.mov" type='video/mov'>
            </video> -->
          </div>
          <video class="promo__video" preload="metadata" playsinline src="/img/promo/video.mp4" muted autoplay loop></video>
          <div class="promo__content">
              <div class="promo__text">
                  <span>wistav</span> wistaverse is <span class="red">the first metaverse</span> <span> the first metaverse</span>
                  <span>dedicated to protests</span> dedicated to protests and <span>social actions</span> <span>social
                      action</span> social action.
              </div>
              <div class="promo__small-text">Reinventing the way WE demonstrate using the metaverse and blockchain technologies to unite, protect and give a voice to people.</div>
              
          </div>
      </div>
  </div>
</section>