<section class="team">
    <div class="team__background">
        <img src="/img/index/team/back.png" alt="back">
    </div>
    <div class="container">
        <h2 class="title team__title">the team</h2>
        <ul class="team__wrapper">
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/1.png" alt="1">
                </div>
                <div class="team__descr">
                    <span>Gregoire Laugier</span>
                    <span>co-founder and ceo</span>
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/2.png"" alt="2">
                </div>
                <div class="team__descr">
                    <span>Jules Alcazar</span>
                    <span>co-founder and COO</span>
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/3.png"" alt="3">
                </div>
                <div class="team__descr">
                    <span>Talal Kurdali</span>
                    <span>co-founder and CTO</span>
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/4.png"" alt="4">
                </div>
                <div class="team__descr">
                    <span>Gary mack</span>
                    <span>Head of growth</span>
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/5.png"" alt="5">
                </div>
                <div class="team__descr">
                    <span>dominic ryder</span>
                    <span>advisor</span>
                    founder and Ceo of VEMP STUDIOS
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/6.png"" alt="6">
                </div>
                <div class="team__descr">
                    <span>sebastien borget</span>
                    <span>metaverse advisor</span>
                    co-founder and Coo of THE sandbox
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/7.png"" alt="7">
                </div>
                <div class="team__descr">
                    <span>gonzalo ferradas</span>
                    <span>special advisor</span>
                    Invicta Blockchain capital
                </div>
            </li>
            <li class="team__item">
                <div class="team__photo">
                    <img src="/img/index/team/8.png"" alt="8">
                </div>
                <div class="team__descr">
                    <span>ronan Sandford</span>
                    <span>decentralisation advisor</span>
                    designer of infinity games
                </div>
            </li>
        </ul>
    </div>
</section>