<section class="feedback">
	
	<div class="container">
		<div class="feedback__arrow">
			<video class="transparent-video" loop autoplay muted playsinline data-src="/img/video/arrow.webm"></video>
		</div>
		<div class="feedback__form">
			<div class="feedback__description">
				<h2 class="title feedback__title">CONTACT</h2>
				<div class="feedback__descr">
					<p>Do you have a cause worth fighting for and wanna gather your community in a metaverse protest ?</p>
					<p>Activists and protest organizers can fill this form to get in touch about organizing an upcoming protest.</p>
				</div>
			</div>
			<form id="form" class="feedback__formik">
				<input required type="text" placeholder="name" name="fb_name"/>
				<input required type="email" placeholder="email" name="fb_email"/>
				<textarea type="text" placeholder="message" name="fb_message"></textarea>
				<button class="feedback__button">
					send</button>
					<picture class="feedback__ok">
						<source media="(min-width:769px)" srcSet="/img/index/feedback/thanks.png"/>
						<source media="(max-width:768px)" srcSet="/img/index/feedback/thanks-min.png"/>
						<img src="/img/index/feedback/thanks.png" alt="thanks">
				</picture>
				<!-- <img class="feedback__ok" src="/img/index/feedback/thanks.png" alt="thanks"> -->
			</form>
		</div>
		<div class="feedback__audit">
				<h2 class="title feedback__subtitle">Audit & KYC by:</h2>
				<div class="feedback__addr">
					<h3 class="feedback__sub">polygon Contract address:</h3>
					<p class="feedback__text">0xB7042C40De76CFc607aC05e68F9C28A778F0C8a6
					</p>
					<h3 class="feedback__sub">BSC Contract address:</h3>
					<p class="feedback__text">0x3720E3C827daB665383b32bC49766D2d24C1Ed35
					</p>
				</div>
				
			
			<div class="feedback__round">
				<a href="https://app.solidproof.io/projects/wistaverse"><img src="/img/index/feedback/round.png" alt="round"></a>
			</div>
		</div>
	</div>
</section>

