<section class="arena">
  <div class="container">
      <h2 class="arena__title title">
          <div>COME PROTEST </div>
          <div>IN THE WISTAVERSE</div>
      </h2>
      <div class="arena__inner">
          <div class="arena__content">
              <p class="arena__text">our first metaverse <span>«Arena One»</span> is located inside the Sandbox Game. It is built and fully operational, ready to host the first protests. </p>
              <a class="arena__btn" target="_blank" href="/pdf/wistaverse-instructions.pdf" target="_blank">How to Participate</a>
          </div>
          <div class="arena__img-box">
            <picture>
                <source media="(min-width:769px)" srcSet="/img/arena/arena.png"/>
                <source media="(max-width:768px)" srcSet="/img/arena/arena-min.png"/>
                <img src="/img/arena/arena.png" alt="arena">
            </picture>
          </div>
      </div>
  </div>
</section>