<section class="decentr">
  <div class="container">
    <h2 class="decentr__title title">DECENTRALIZATION</h2>
    <div class="decentr__content">
      <div class="decentr__text">Wistaverse is developing its own interoperable and decentralized metaverse that will eventually be able to operate without human interaction.
        The protocol is built to be permission-less, censorship resistant, self-sustaining and free from government interference.        
        </div>
      <div class="decentr__note">A fair moderation system will allow elected and randomely selected WI$TA holders to ensure that no event taking place goes against our security guidelines of « No incitation to violence, no racism and no sexism»</div>
    </div>
    <video loop muted playsinline autoplay class="decentr__eye transparent-video" data-src="/img/video/eye.webm"></video>
    <!-- <img class="decentr__eye visible-mobile" src="/img/decentr/eye.png"> -->
    <div class="decentr__img">
      <img src="/img/decentr/city.png" alt="city">
    </div>
  </div>
</section>