<section class="together">
    <div class="together__background">
        <img src="/img/index/together/back.png" alt="back">
    </div>
    <div class="container">
        <h2 class="title together__title">get together with Your community</h2>
        <div class="together__wrapper">
            <div class="together__description">
                no matter your age, your health condition, your government or geographic location, get together with your community in a neutral and decentralized metaverse built specifically to answer the needs of a protest, for those who can not attend in real life.
            </div>
        </div>
    </div>
</section>