<section class="how">
  <div class="container">
      <div class="how__top">
          <h2 class="how__title title">
              <span>how does it </span>
              <span>work</span>
          </h2>
          <video class="how__video" src="/img/how/video.mp4" muted autoplay loop></video>
      </div>

      <ul class="how__list">
          <li class="how__item">
              <div class="how__num how__num--1">
                  1
                  <img src="/img/how/item-1.png" alt="">
              </div>
              <p class="how__text">Your Web3 wallet is your digital identity, your avatar is your digital self.</p>
          </li>
          <li class="how__item">
              <div class="how__num how__num--2">
                  2
                  <img src="/img/how/item-2.png" alt="">
              </div>
              <p class="how__text">Come protest in the Wistaverse in an immersive live social event with your
                  community.</p>
          </li>
          <li class="how__item">
              <div class="how__num">3</div>
              <p class="how__text">Make sure your voice is heard and participate in the development of your action
                  through community on-chain voting during the protests.</p>
          </li>
          <li class="how__item">
              <div class="how__num">4</div>
              <p class="how__text">Exercise your freedom of speech, no matter your views, in a safe and neutral place
                  that you can attend anonymously.</p>
          </li>
          <li class="how__item">
              <div class="how__num">5</div>
              <p class="how__text">Boost attendance by adding your participation to the general data of the protest.
              </p>
          </li>
          <li class="how__item how__num--6">
              <div class="how__num">
                  6
                  <img src="/img/how/item-6.png" alt="">
              </div>
              <p class="how__text">Interact with like-minded people and meet your peers.</p>
          </li>
          <li class="how__item">
              <div class="how__num">7</div>
              <p class="how__text">Come listen to guest speakers and get access to the best resources to educate
                  yourself on the cause you support.</p>
          </li>
          <li class="how__item">
              <div class="how__num how__num--8">
                  8
                  <img src="/img/how/item-8.png" alt="">
              </div>
              <p class="how__text">Earn rewards for your participation and for being an active community member.</p>
          </li>
          <li class="how__item">
              <div class="how__num">9</div>
              <a class="how__link" href="#">
                  <div class="how__link-text">
                      <div>Donate and <span>comm help</span> help raise funds</div>
                      <div>to bring real <span>mar change</span> change.</div>
                  </div>
                  <svg width="72" height="66" viewBox="0 0 72 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2 64.5H70V1" stroke="white" stroke-width="3" />
                      <path d="M2 1.5L70 64" stroke="white" stroke-width="3" />
                  </svg>
              </a>
          </li>
      </ul>
  </div>
</section>