<section class="token">
    <div class="overlay"></div>
    <div class="container token__container">
        <div class="token__ring-container">
            <div class="token__ring">
                <img src="/img/index/token/ring.png" alt="ring">
            </div>
            <div class="title token__title">t&nbsp;&nbsp;&nbsp;ken utility</div>
            <video class="token__coin transparent-video" muted data-src="/img/video/coin.webm" autoplay loop playsinline></video>
            <!-- <img class="token__coin visible-mobile" src="/img/index/token/coin.png"> -->
            <div class="token__descr">WI$TA, Our native utility Token is at the center of the Wistaverse Ecosystem. It Has Many Utilities:</div>
            <picture class="token__img">
                <source class="token__img" media="(min-width:769px)" srcSet="/img/index/utility/graph.jpg"/>
                <source class="token__img" media="(max-width:768px)" srcSet="/img/index/utility/graph-min.png"/>
                <img class="token__img" src="/img/index/utility/graph.jpg" alt="graph">
            </picture>
            <!-- <div class="token__image">
                <img src="/img/index/token/loop.png" alt="loop">
                <p>full image</p>
            </div> -->
            <button class="token__button" type="button">MORE DETAILS</button>
        </div>

        <ul class="token__wrapper">
            <li class="token__item">
                <p class="token__num">1</p>
                <p class="token__about">Use WI$TA to anonymously organize a protest and to book a Wi$taverse Arena for an agreed time slot.</p>
            </li>
            <li class="token__item">
                <p class="token__num">2</p>
                <p class="token__about">HOLD WI$TA TO UNLOCK ALL OF WI$TAVERSE FEATURES WHEN ATTENDING PROTESTS.</p>
            </li>
            <li class="token__item">
                <p class="token__num">3</p>
                <p class="token__about">Use WI$TA to donate to the cause you support and help have a real impact.</p>
            </li>
            <li class="token__item">
                <p class="token__num">4</p>
                <p class="token__about">Use WI$TA to purchase wearables, banners and signs to bring along and to personalize your avatar.</p>
            </li>
            <li class="token__item">
                <p class="token__num">5</p>
                <p class="token__about">Use your voting power to amplify donations using the wistaverse treasury.</p>
            </li>
            <li class="token__item">
                <p class="token__num">6</p>
                <p class="token__about">Hold WI$TA to participate in the governance of Wi$taverse and to have a say on the future of the platform.</p>
            </li>
            <li class="token__item">
                <p class="token__num">7</p>
                <p class="token__about">Hold WI$TA to be randomly selected to help bring a decentralized moderation to the platform to protect it from extreme case events promoting violence, racism or sexism.</p>
            </li>
        </ul>
    </div>
</section>