<section class="slider">
  <div class="container">
    <h2 class="slider__title title">YOUR PROTEST, YOUR WAY</h2>
  </div>
  <div class="slider__swiper swiper">

    <ul class="slider__list swiper-wrapper">
      <li class="slider__item swiper-slide">
        <img src="/img/slider/01.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/02.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/03.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/04.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/05.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/01.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/02.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/03.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/04.png" alt="">
      </li>
      <li class="slider__item swiper-slide">
        <img src="/img/slider/05.png" alt="">
      </li>
    </ul>
  </div>
    <div class="slider__name">ANIMAL #01</div>

    <div class="container">
      <div class="slider__content">
        <div class="slider__text">
          <p>Wistaverse is apolitical and built to facilitate protests in a safe and neutral metaverse open to all.</p>
          <p>Each event is unique. Protest organizers are in charge of the event and will choose custom visuals and features as well as the destination of the funds raised through donations. Unique Avatars and digital items will be available for protesters.</p>
        </div>
      </div>
    </div>
</section>