<section class="utility">
    <div class="container utility__container">
        <div class="utility__ring">
            <img src="/img/index/utility/ring.png" alt="ring">
        </div>
        <div class="title visible-mobile utility__title"><span>t</span><span class=""> <img src="/img/index/token/coin.png" alt="coin"></span><span></span>ken utility</span></div>
        <div class="utility__descr visible-mobile">WI$TA, Our native utility Token is at the center of the Wistaverse Ecosystem. It Has Many Utilities:</div>
        <picture class="visible-mobile">
            <source media="(min-width:769px)" srcSet="/img/index/utility/graph.jpg"/>
            <source media="(max-width:768px)" srcSet="/img/index/utility/graph-min.png"/>
            <img src="/img/index/utility/graph.jpg" alt="graph">
        </picture> 
        <div class="utility__image">
            <img src="/img/index/utility/loop.png" alt="loop">
            <p>full image</p>
        </div>
    </div>
</section>